/* General styles */
body {
  background-color: #282c34;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh !important ;
  width: 100%;
  background-color: var(--blueGradiant);
}

.container-game {
  text-align: center;
  width: 100%;
  height: 570px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-game {
  font-size: 42px;
  margin-bottom: 15% !important;
  height: 10px !important;
  display: block;
}

.game-info-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 0 2rem;
  position: absolute;
  top: 20%;

}

.game-info {
  font-size: 1.4rem;
  font-weight: bold;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.board-row {
  display: flex;
}

.button {
  background-color: #1C140F;
  color: white;
  font-size: 5rem;
  border: 2px solid #1C140F;
  border-radius: 15px;
  width: 100px !important;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 4px;
}

.button.o {
  color: #831515;
}

.button.x {
  color: #3b2a9f;
}

.winner-announcement {
  margin-top: 0;
  font-size: 0.7rem;
  font-weight: bold;
}

.button-start{
  margin-top: -8px;
  background-color: var(--secondery--2) ;
}
