.tablebody{
    height: 90vh;
    width: 1100px;
    
}

table{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 100%;
    flex-wrap: wrap;
}
 

.title-table{
    margin: auto;
    height: 10px !important;
}

.top{
    margin-top: 7%;
    margin-bottom: 3%;
}

thead{
    flex-grow: 2;
    font-size: 25px !important;
}
 
tr{
    flex-grow: 2;
    font-size: 18px;
}

td , th{
    height: 35px;
    width: 500px;
}