.login{
    height: 500px;
    color: white;
    margin-top: 0;
    margin-bottom: 16%;
}

.labelform{
    font-size: 27px;
    display: block;
    width: 200px;
    margin-top: 40% !important;
    margin: auto;
}

.title-log {
    font-size: 42px;
    font-weight: 700;
    line-height: 67.5px;
    text-align: center;
}
 
.in-1{
   width: 195px;
   height: 27px;
   border-radius: 6px;
   border: solid 1.5px black;
   margin-top: 15px;
   color: white;
   
 
}

.start-btn{
    padding: 3px;
    background-color: var( --secondery--2);
    width: 200px;
    height: 28px;
    margin-top: 15px;
}

.foot-log{
    margin-bottom: 0;
    margin-top:52% !important;
    font-size: 23px;
    color: var(--secondery--2);
    font-size: 20px;
    font-weight: 600;
    line-height: 31.04px;
    text-align: center;
    
     
}
 